@import "../utilities/mediaquerys";


.contenedorContacto {
  width: 80%;
  margin-left: 10%;
  display: flex;
  flex-direction: row;
  margin-bottom: 5rem;
  justify-content: space-around;
  @include telefono{
    flex-direction: column;
    width: 80%;
    margin-left: 2rem;
}
}

.rowInformacion{
    margin-top: 2rem;
    display: flex;
}

.informacionPersonal{
    margin-top: 0.5rem;
    margin-left: 1rem;
    font-size: 1.2rem;
}

.estudiosContacto{
    display: flex;
    margin-top: 1rem;
}

.iconoEstudio{
    margin-top: 1rem;
}

.listaEstudios{
    margin-left: 1rem;
}

.textoLiEstudios{
    color: black;
    font-weight: bolder;
    margin-left: -2rem;
}

.tituloRedes{
    text-align: center;
    font-size: 2rem;
}

.iconosContacto{
    width: 50%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    @include telefono{
        width: 90%;
    }
}

.rowRedes{
    margin-top: 2rem;
    display: flex;
    margin-left: 8rem;
    @include telefono{
        margin-left: 0rem;
    }
}

.visitaRed{
    margin-top: 0.2rem;
    margin-left: 1rem;
    text-decoration: none;
    color: black;
}

.visitaRed:hover{
    color: rgb(50, 50, 50);
}