.contenedorContacto {
  width: 80%;
  margin-left: 10%;
  display: flex;
  margin-bottom: 5rem;
}

.tituloRedes{
    text-align: center;
    font-size: 2rem;
}

.iconosContacto{
    width: 50%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}

.rowRedes{
    margin-top: 2rem;
    display: flex;
}

.visitaRed{
    margin-top: 1.2rem;
    margin-left: 1rem;
    text-decoration: none;
    color: black;
}

.visitaRed:hover{
    color: rgb(50, 50, 50);
}