.logoTimoteo{
    width: 20rem;
    height: 10rem;
    margin-left: 5rem;
}

.fotoTimoteo{
    width: 23rem;
    height: 24rem;
    margin-left: 52%;
    margin-top: 5.5rem;
    border-radius: 400px;
}