.logoTimoteo{
    width: 20rem;
    height: 10rem;
    margin-left: 5rem;
    @include telefono{
        margin-left: -1rem;
        width: 15rem;
        height: 10rem;
    } 
}

.fotoTimoteo{
    width: 23rem;
    height: 24rem;
    margin-left: 52%;
    margin-top: 5.5rem;
    border-radius: 400px;

    @include telefono{
        width: 100%;
        margin-left: -2%;
        height: 20rem;
        margin-top: 3rem;
    }
    @include computadora{
        margin-left: 20rem;
        margin-top: 4rem;
    }
}

.fotoWhaikau{
    width: 100%;
    height: 28rem;
    @include telefono{
        width: 100%;
        height: 15rem;
    }
}