                                                    //PRESENTACION MAIN//

.presentacion{
    width: 80%;
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    margin-top: 2rem;
    margin-bottom: 4rem;
    @include telefono{
        flex-direction: column;
    }
}

.informacionTimoteo{
    width: 50%;
    @include telefono{
        width: 100%;
    }
}

.nombreTitulo{
    text-align: center;
    font-size: 2.6rem;
    transition: 3s;
    @include telefono{
        margin-top: 2rem;
    }
}

.nombreTitulo:hover{
    transform: rotateX(360deg);
}

.frontEnd{
    margin-top: 1rem;
    text-align: center;
    font-size: 1.2rem;
}

.infoPersonal{
    margin-top: 3rem;
}

.parrafoPresentacion{
    font-size: 1.2rem;
    margin-top: 1rem;
    line-height: 2rem;
}

.parrafoPresentacionDos{
    font-size: 1.2rem;
    margin-top: 1rem;
    line-height: 2rem;
}

.subPresentacion{
    width: 80%;
    margin-left: 10%;
}

.habilidades{
    display: flex;
    flex-direction: row;
}

.otrasHabilidades{
    font-size: 2rem;
    margin-left: 2rem;
    margin-top: 3rem;
}

.habilidad{
    width: 15rem;
    font-size: 1.5rem;
    margin-top: 3.2rem;
    margin-right: 2rem;
}

.botonesMain{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.botonMain{
    margin-left: 41% !important;
    margin-bottom: 2rem;
    border: none;
    color: white;
    font-weight: bold;
    background-color: rgb(18,18,18);
    width: 15rem;
    height: 3rem;
    border-radius: 20px;
    cursor: pointer;
    @include telefono{
        margin-left: 11%;
    }
    @include computadora{
        margin-left: 42%;
    }
}

.botonMain:hover{
    background-color: rgb(50, 50, 50);
}


                                                    //ICONOS MAIN//

.contenedorPrincipalIconos{
    height: 8rem;
    width: 100%;
    background-color: rgb(18,18,18);
    @include telefono{
        height: 17rem;
    }
}

.containerIconos{
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
}

.containerIconos:hover{
    transform: scale(1.1);
}

.iconos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    @include telefono{
        flex-wrap: wrap;
    }
}

.aplicacion{
    margin-top: 0.5rem;
    color: white;
    text-align: center;
    font-weight: bold;
}
